<h3>Now Playing</h3>
<dl class="dl-horizontal" data-bind="if: item">
<% for (var i = 0; i < fields.length; i += 1) { 
    if (fields[i] !== 'image') { -%>
        <dt><%= fields[i].replace(/\w/, c => c.toUpperCase())%></dt>
        <dd data-bind="text: item()['<%= fields[i] %>']"></dd>
<% } 
    }-%>
</dl>
<% if (events.length) { -%>
<div class="row">
<%     for (var i = 0; i < events.length; i += 1) {
           if (events[i].stereotype == 'system') { -%>
    <c-<%= events[i].id %> params="trigger: trigger.bind($data,'<%= events[i].id %>'), context: context"></c-<%= events[i].id %>>
<%         } else { -%>
    <a class="col-xs-2 btn btn-primary" data-bind="click: trigger.bind($data, '<%= events[i].id %>')"><%= events[i].name.toUpperCase() %></a>
<%         }
       } -%>
</div>
<% } -%>
<div class="row col-md-8" 
    data-bind="if: item">
    <img class="img-rounded" width="100%" 
        data-bind="attr:{src: 'http://emanuele.falzone.gitlab.io/almostjs-demo-game-data/images/' + item()['image']}">
</div>
